title: tito-PDF
description: Documentation
repo_url: https://github.com/averriK/tito-PDF
issues_url: https://github.com/averriK/tito-PDF/issues

permalink: pretty

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

defaults:
  - scope:
      path: ""
    values:
      layout: default
